<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="static/styles/main.css" />
  <script type="text/javascript"
    src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
  <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.7.3/nipplejs.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>

<body>
  <div id="container">
    <div id="logo">
      <img src="static/images/amrc.jpg" alt="" srcset="">
    </div>
    <nav id="header">
      <ul>
        <li>Overview</li>
        <li>Robot and Cell</li>
        <li>Sensors</li>
        <li>Analysis</li>
      </ul>
    </nav>
    <div id="commands">
      <h2 id="title">Functionalities</h2>
      <details>
        <summary>Pose Goal</summary>
        <div id="coordinates">

          <input type="number" name="wCoord" id="wCoord" placeholder="set w:">
          <input type="number" name="xCoord" id="xCoord" placeholder="set x:">
          <input type="number" name="yCoord" id="yCoord" placeholder="set y:">
          <input type="number" name="zCoord" id="zCoord" placeholder="set z:">
        </div>
        <button onclick="setGoalPoseValues()">Submit</button>
      </details>
      <details>
        <summary>Joints</summary>
        <div class="joints">
          <div class="range-slider">
            <label>Joint 1</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint1">
            <span class="range-value" id="joint1Span"></span>
          </div>
          <div class="range-slider">
            <label>Joint 2</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint2">
            <span class="range-value" id="joint2Span"></span>
          </div>
          <div class="range-slider">
            <label>Joint 3</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint3">
            <span class="range-value" id="joint3Span"></span>
          </div>

          <div class="range-slider">
            <label>Joint 4</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint4">
            <span class="range-value" id="joint4Span"></span>
          </div>
          <div class="range-slider">
            <label>Joint 5</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint5">
            <span class="range-value" id="joint5Span"></span>
          </div>
          <button onclick="setJointValues()">Adjust Joint Values</button>
        </div>
      </details>
      <details>
        <summary>WayPoints</summary>
        <div>
          <input type="text" name="newwaypoint" placeholder="New waypoint Name">
          <button>Add WaypPoint</button>
        </div>

        <div>
          <button>Load All WayPoints</button>
          <button>Run All WayPoints</button>
          <button>Save WayPoint</button>
        </div>

      </details>
      <details>
        <summary>Plan & Execute</summary>
        <button onclick="planCartesian()">Plan Cartesian</button>
        <button onclick="executePlan()">Execute</button>
      </details>
      <details>
        <summary>Set Visualization</summary>
        <button>3D URDF View</button>
        <button>Gazebo View</button>
      </details>
      <details>
        <summary>Connection Status</summary>
        <button id="connectionStatus"></button>
      </details>
      <details>
        <summary>Reset</summary>
        <button class="danger">Reset</button>
      </details>
      <details>
        <summary>Plots</summary>
        <p>Plots</p>
      </details>
      <details>
        <summary>Tables</summary>
        <p>Tables</p>
      </details>
      <details>
        <summary>Logs</summary>
        <p>Logs</p>
      </details>

    </div>

    <div id="visualization">Visualization</div>

    <!-- <div id="info">
      <p>Connection status: <span id="status"></span></p>
      </p>
    </div>

    <div id="plots">Plots</div>
    <div id="tables">Tables</div> -->
  </div>

  <script src="static/scripts/main.js"></script>
</body>

</html>