<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="static/styles/main.css" />
  <script type="text/javascript"
    src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
  <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.7.3/nipplejs.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css">
</head>

<body>
  <div id="container">
    <div id="logo">
      <img src="static/images/amrc.jpg" alt="" srcset="">
    </div>

    <div id="commands">

      <h3 id="title"><i class="fa fa-cog" aria-hidden="true"></i> User Settings</h3>
      <div id="modelselection">
        <details>
          <summary><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Robot Model</summary>
          <div class="multi-button">
            <select name="" id="cusSelectbox">
              <option value="manipulator">manipulator</option>
              <option value="panda">panda</option>
              <option value="uknown">unknown</option>
            </select>
            <button id="currentGroup"></button>
          </div>
        </details>
      </div>
      <details>
        <summary><i class="fa fa-dot-circle-o" aria-hidden="true"></i> New Pose</summary>
        <div id="coordinates">
          <input type="number" name="wCoord" id="wCoord" placeholder="set w:">
          <input type="number" name="xCoord" id="xCoord" placeholder="set x:">
          <input type="number" name="yCoord" id="yCoord" placeholder="set y:">
          <input type="number" name="zCoord" id="zCoord" placeholder="set z:">
        </div>
        <div class="multi-button">
          <button onclick="setGoalPoseValues()">Submit</button>
        </div>
      </details>
      <details>
        <summary><i class="fa fa-share-alt" aria-hidden="true"></i> Joints</summary>
        <div class="joints">
          <div class="range-slider">
            <label>Joint 1</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint0">
            <span class="range-value" id="joint0Span"></span>
          </div>
          <div class="range-slider">
            <label>Joint 2</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint1">
            <span class="range-value" id="joint1Span"></span>
          </div>
          <div class="range-slider">
            <label>Joint 3</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint2">
            <span class="range-value" id="joint2Span"></span>
          </div>

          <div class="range-slider">
            <label>Joint 4</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint3">
            <span class="range-value" id="joint3Span"></span>
          </div>
          <div class="range-slider">
            <label>Joint 5</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint4">
            <span class="range-value" id="joint4Span"></span>
          </div>

          <div class="range-slider">
            <label>Joint 6</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint5">
            <span class="range-value" id="joint5Span"></span>
          </div>

          <div class="range-slider">
            <label>Joint 7</label>
            <input type="range" value="" min="-10" max="10" range="true" step="0.00001" id="joint6">
            <span class="range-value" id="joint6Span"></span>
          </div>
          <div class="multi-button">
            <button onclick="setJointValues()">Adjust Joint Values</button>
          </div>
        </div>
      </details>
      <details>
        <summary><i class="fa fa-map-marker" aria-hidden="true"></i> WayPoints</summary>
        <div>
          <input type="text" name="waypoint" placeholder="New waypoint Name" id="newwaypoint">
        </div>

        <div class="multi-button">
          <button onclick="addWayPoint()">Add WayPoint</button>
          <button onclick="loadAllWaypoints()">Display WayPoints</button>
        </div>

      </details>
      <details>
        <summary><i class="fa fa-tasks" aria-hidden="true"></i> Plan & Execute</summary>
        <div class="multi-button">
          <button onclick="planCartesian()">Plan Cartesian</button>
          <button onclick="executePlan()">Execute</button>
        </div>
      </details>

      <details>
        <summary><i class="fa fa-eye" aria-hidden="true"></i> Set Visualization</summary>
        <div class="multi-button">
          <button>3D URDF</button>
          <button>Gazebo</button>
          <button>Robot and Cell</button>
        </div>
      </details>
      <details>
        <summary><i class="fa fa-plug" aria-hidden="true"></i> Connection Status</summary>
        <div class="multi-button">
          <button id="connectionStatus"></button>
        </div>
      </details>
      <details>
        <summary><i class="fa fa-line-chart" aria-hidden="true"></i> Performance Plots</summary>
        <p>Plots</p>
      </details>
      <details>
        <summary><i class="fa fa-table" aria-hidden="true"></i> Tables</summary>
        <p>Tables</p>
      </details>
      <details>
        <summary><i class="fa fa-history" aria-hidden="true"></i> Logs</summary>
        <p>Logs</p>
      </details>
      <details>
        <summary><i class="fa fa-signal" aria-hidden="true"></i> Sensors</summary>
        <p>Sensors</p>
      </details>
      <details>
        <summary><i class="fa fa-undo" aria-hidden="true"></i> Reset</summary>
        <div class="multi-button">
          <button style="background-color:  #e31566;">Reset</button>
        </div>
      </details>
      <details>
        <summary><i class="fa fa-sign-out" aria-hidden="true"></i> Sign-out</summary>
        <div class="multi-button">
          <a href="{{ url_for('signout') }}"><button style="background-color: #e31566;">Logout</button></a>
        </div>
      </details>
    </div>

    <div id="visualization">Visualization
      <!-- <object data="http://localhost:8080" type="" width="100%" height="100%"></object> -->
    </div>
  </div>
  <div id="wayPointsModal" class="modal">
    <div id="waypointsDiv" class="modal-content">
      <span class="close">&times;</span>
      <table id="wayPointsTable"></table>
    </div>
  </div>

  <script src="static/scripts/main.js"></script>
</body>

</html>