html {
  box-sizing: border-box;
  overflow: hidden;
}
#container {
  height: 98vh;
  width: 98vw;
  display: grid;
  grid-template: 1fr 5fr 2fr/ 1fr 1fr 1fr;
  gap: 2px;
  grid-template-areas:
    "logo header header"
    "commands visualization visualization"
    "commands visualization visualization";
}


#logo {
  grid-area: logo;
  border: gray 2px solid;
}
#header {
  grid-area: header;
  border: gray 2px solid;
}

#header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

#header ul li {
  list-style: none;
}

#commands {
  grid-area: commands;
  gap: 2px;
  border: gray 2px solid;
  overflow-y: auto;
  overflow-x:hidden;
}
#visualization {
  grid-area: visualization;
  border: gray 2px solid;
}
#info {
  grid-area: info;
  overflow-y: scroll;
  border: gray 2px solid;
}

#plots {
  grid-area: plots;
  border: gray 2px solid;
}
#tables {
  grid-area: tables;
  border: gray 2px solid;
}
#coordinates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

#commandSelect {
  grid-area: commandSelect;
  display: flex;
  align-items: center;
  justify-content: center;
}

#commandSelect button {
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#selectedCommand {
  grid-area: selectedCommand;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#routineConfirm {
  grid-area: routineConfirm;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  outline:0;
}
.danger {
  background-color: #f44336;
} /* Red */
#coordinatesSubmit {
  margin-left: 35%;
}

summary {
  outline: 0;
  font-size: 20px;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 98%;
  padding: 0.5rem 5px;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
  margin-bottom: 2px;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}

details summary {
  outline: 0;
}

details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

input[type="number"],
input[type="text"] {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.range-slider {
  padding: 10px 60px 15px 0;
  /* margin: 20px 0 0 0; */
  position: relative;
}
.range-slider input[type="range"] {
  background: #dcdcdc;
  width: 75%;
  height: 4px;
  border-radius: 20px;
  outline: none;
  -webkit-appearance: none;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  background: #0775c0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 2px #999 inset, 0 0 0 13px #fff inset, 0 0 0 1px #dcdcdc;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
  -webkit-appearance: none;
  appearance: none;
}
.range-slider input[type="range"]::-webkit-slider-thumb:hover,
.range-slider input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 2px #999 inset, 0 0 0 13px #fff inset, 0 0 3px 3px #dcdcdc;
}
.range-slider input[type="range"]::-moz-range-thumb {
  background: #0775c0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 2px #999 inset, 0 0 0 13px #fff inset, 0 0 0 1px #dcdcdc;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
}
.range-slider input[type="range"]::-moz-range-thumb:hover,
.range-slider input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 2px #999 inset, 0 0 0 13px #fff inset, 0 0 3px 3px #dcdcdc;
}
.range-slider .range-value {
  color: #fff;
  background-color:#0775c0;
  /* font-size: 18px; */
  font-weight: 600;
  text-align: center;
  width: 70px;
  padding: 5px 5px;
  border-radius: 30% 0 30% 30%;
  position: absolute;
  bottom: 4px;
  /* right: 0; */
}
::-moz-range-track {
  background: transparent;
  border: 0;
}
label {
  font-weight: bold;
  border-radius: 30% 0 30% 30%;
  text-align: center;
  color: #fff;
  background-color:#0775c0;
  padding: 5px 5px;
}
#title{
  font-weight: 300;
  margin-left: 35%;
}
